.main-footer-section {
    background-color: #8d624c4d;
    padding: 2vh 2vw;
    height: 30vh;
}

.list-links-section {
    padding: 6px;
}

.p-tag-second-child-text-section {
    margin-block-start: 32px;
    /* display: flex; */
    padding-left: 214px;
    margin-block-end: 1em;
}

.ul-child-social-links-section {
    display: flex;
    list-style-type: none;
    margin-block-end: 0;
    justify-content: center;
}


.sideBarChat {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 32px;
    /* fallback */
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 0px;
    color: #828385;
    font-weight: 400;
    font-size: 11px;
    padding-left: 8px;
    text-align: initial;
}


.message-component {
    bottom: 41px;
    position: fixed;
    right: 6px;
}

.slick-next {
    right: 29px !important;
}

.slick-prev {
    left: -3px !important;
    z-index: 11;
}